
*{
	box-sizing: border-box;
	}
	body{
		text-align: center;
	}
 h1{
	font-size: 2em;
	padding-bottom: 1%;
	padding-top: 4%;
	font-family:Open Sans;

}
#textArea{
	 border-radius: 3%;
	 overflow: hidden;
	 resize: none;
}
.turquesa{
	color:#2E9AFE;
}
.rojo{
	color:#FE2E64;
}